

<body>
  <div class="heading">
    <h1> <%= @user_1 %> vs  <%= @user_2 %></h1>
  </div>
  <div class="user_2_hp">
    <progress max="<%=Battle::MAX_HP%>" value="<%= @user_2_hp %>"></progress>
    <p>Hit points: <%=@user_2_hp%></p>
  </div>
</body>
