<body>
  <div class="heading">
    <h1> Players: <% @game.players.each do |player| %>
      <%= "#{player.name}" %>
      <% end %>
  </h1>
    <h2> <%= @game.now_playing.name %>'s turn!</h2>
  </div>
  <div class="player1_hp">
    <progress max="<%=Game::MAX_HP%>" value="<%= @game.players[0].hp %>"></progress>
    <p><%=@game.players[0].name%> hitpoints: <%=@game.players[0].hp%></p>
  </div>
  <div class="player2_hp">
    <progress max="<%=Game::MAX_HP%>" value="<%= @game.players[1].hp %>"></progress>
    <p><%=@game.players[1].name%> hitpoints: <%=@game.players[1].hp%></p>
  </div>
  <div class="buttons">
    <% if @now_playing %>
    <form action="/attack" method="post">
      <input type="submit" value="Attack"/>
    </form>
    <% end %>
    <form action="/play" method="get">
      <input type="submit" value="Refresh"/>
    </form>

  </div>
</body>
